*{
    margin: 0px;
    padding: 0px;
}

header{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    text-decoration-style: none;
    padding: 10px;
    margin: 10px;
    align-items: center;
}
header ul li{
    display: inline;
    padding: 0px 3px;

}
.headeri{
    display: flex;
    color: rgb(111, 198, 227);
    align-items: center;
}
.headeri p{
    padding-left: 5px;
}


.bgfoto{
    margin: 0px 2px;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-image: url(hero.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}


.latestvideo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    align-items: center;
    color: rgb(111, 198, 227);
    margin: 0px 50px;
}
.butoni_bg{
    border: none;
    background-color:rgb(47, 185, 178) ;
    width: 40px;
    height: 20px;
    margin: 0px;
}
.rubrika img{
    width: 250px;
}

.fotografit{
    display: flex;
    margin: 0px 50px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}
.views_date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: rgb(208, 208, 208);
}

.permifooter{
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.btn{
    border: none;
    padding: 10px;
    margin: 10px;
}
.btn_prev_next{
    border: none;
    padding: 5px;

}

.btn_prev_next{
    border: none;
    padding: 5px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 100px;
    background-color: rgb(220, 220, 220);
    justify-content: space-between;
}

.f{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: lightseagreen;
}
.ff img{
    height: 30px;
    padding-left: 20px;
}
.footermain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(155, 155, 155);
    
}
.footerleft{
    width: 350px;
}
.footercenter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.fundi{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: rgb(155, 155, 155);
}
