*{
    margin: 0px;
    padding: 0px;
}

header{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    text-decoration-style: none;
    padding: 10px;
    margin: 10px;
    align-items: center;
}
header ul li{
    display: inline;
    padding: 0px 3px;

}
.headeri{
    display: flex;
    color: rgb(111, 198, 227);
    align-items: center;
}
.headeri p{
    padding-left: 5px;
}


.bgfoto{
    margin: 0px 2px;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-image: url(hero.jpg);
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}


.latestvideo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    align-items: center;
    color: rgb(111, 198, 227);
    margin: 0px 50px;
}

.fotografit{
    display: flex;
    justify-content: center;
    align-items:center ;
    
}
.rubrika{
}

